In [10]:
import pandas as pd
import requests
import io

In [11]:
url = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv"

response = requests.get(url)

# Step 2: Raise an exception if there's an issue with the download
response.raise_for_status()

# Step 3: Load the gzipped CSV content directly into Pandas
df = pd.read_csv(io.BytesIO(response.content))

In [12]:
df

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [13]:
from sqlalchemy import create_engine

In [14]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [15]:
engine.connect()

In [16]:
df.to_sql(name='zone_lookup', con=engine, if_exists='replace')

265

In [15]:
from time import time

while True: 
    try:
        t_start = time()
        df = next(df_iter)

        df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
        df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
        
        df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

        t_end = time()

        print('inserted another chunk, took %.3f second' % (t_end - t_start))
    except StopIteration:
        print('completed')
        break

inserted another chunk, took 12.458 second
inserted another chunk, took 12.678 second
inserted another chunk, took 12.828 second
inserted another chunk, took 12.224 second
inserted another chunk, took 12.232 second
inserted another chunk, took 12.542 second
inserted another chunk, took 12.704 second
inserted another chunk, took 8.995 second
inserted another chunk, took 8.505 second
inserted another chunk, took 8.349 second
inserted another chunk, took 8.766 second

C:\Users\dehzhang\AppData\Local\Temp\ipykernel_35960\74935928.py:6: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 9.241 second
inserted another chunk, took 6.719 second
completed